<div class="bubbles--left"></div>
<div class="bubbles--right"></div>
<div class="uk-margin-large-top uk-margin-bottom">
    <h2>Do you have what it takes to win?</h2>
    <form class="uk-form uk-form-stacked uk-margin-top">
        <fieldset>
            <div class="uk-form-row">
                <label class="uk-form-label" for="selectedPlayer">WORK EMAIL</label>
                <div class="uk-form-controls">
                    <angucomplete-alt
                        id="selectedPlayer"
                        placeholder="Select an existing player"
                        pause="100"
                        selected-object="existing.selectedPlayer"
                        local-data="existing.players"
                        search-fields="workEmail"
                        title-field="workEmail"
                        minlength="1"
                        field-required="true">
                    </angucomplete-alt>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <button
                        class="uk-button uk-width-1-1 uk-button-large"
                        ng-click="existing.select(existing.selectedPlayer.originalObject)">YES, LET'S GO!
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="uk-margin-large-top">
        <a ng-click="existing.remove(existing.selectedPlayer.originalObject)" class="link uk-text-large">Remove
            Player</a>
    </div>
    <div class="uk-margin-top">
        <a ui-sref="start" class="link uk-text-large">Cancel</a>
    </div>
</div>
