<div class="bubbles--left-smiley"></div>
<div class="bubbles--right"></div>
<div>
    <a ui-sref="start" class="logo logo--small"></a>
</div>
<div class="leaderboard">
    <h1>Balls of Fame</h1>
    <table id="leaderboard" ng-show="leaderboard.areUsers()" class="uk-table uk-table-middle uk-table-hover uk-text-large">
        <thead>
            <tr>
                <th class="uk-text-center">RANK</th>
                <th class="uk-text-left">NAME</th>
                <th class="uk-text-left">COMPANY</th>
                <th class="uk-text-left">TIME</th>
            </tr>
        </thead>
        <tbody>
            <tr class="uk-text-bold" ng-repeat="user in leaderboard.users | orderBy: 'time' track by user.workEmail">
                <td>{{ $index + 1 }}</td>
                <td class="uk-text-left">{{ user.firstName + ' ' + user.lastName }}</td>
                <td class="uk-text-left">{{ user.company }}</td>
                <td class="uk-text-left">{{ user.time | date: 'mm:ss:sss' }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="" ng-click="leaderboard.load()" class="link uk-text-large" ng-show="leaderboard.show">Load More</a>
        <a href="" ng-click="leaderboard.less()" class="link uk-text-large" ng-hide="leaderboard.show">Show less</a>
    </div>
    <div ng-hide="leaderboard.areUsers()">
        Let's do this!
    </div>
</div>
