<div>
    <h1>Balls of Fame</h1>
    <table id="leaderboard" ng-show="leaderboard.areUsers()">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Company</th>
            <th>Time</th>
        </tr>
        <tr ng-repeat="user in leaderboard.users | orderBy: 'time' track by user.workEmail">
            <td>{{ $index + 1 }}</td>
            <td>{{ user.firstName + ' ' + user.lastName }}</td>
            <td>{{ user.company }}</td>
            <td>{{ user.time | date: 'mm:ss:sss' }}</td>
        </tr>
    </table>
    <div ng-hide="leaderboard.areUsers()">
        Let's do this!
    </div>
    <a ui-sref="start">Start</a>
</div>
