<div>
    <h1>{{ register.heading }}</h1>
    <form name="userForm">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName"
                ng-model="register.user.firstName"
                ng-minlength="2"
                required>
            <div ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
                <p ng-message="minlength">Your first name is too short.</p>
                <p ng-message="required">Your first name is required.</p>
            </div>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName"
                ng-model="register.user.lastName"
                ng-minlength="2"
                required>
            <div ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched">
                <p ng-message="minlength">Your last name is too short.</p>
                <p ng-message="required">Your last name is required.</p>
            </div>
        </div>
        <div>
            <label for="workEmail">Work Email</label>
            <input type="email" id="workEmail" name="workEmail"
                ng-model="register.user.workEmail"
                required
                available>
            <div ng-messages="userForm.workEmail.$error" ng-if="userForm.workEmail.$touched">
                <p ng-message="email">This needs to be a valid email.</p>
                <p ng-message="required">Your work email is required.</p>
                <p ng-message="available">This email is already registered.</p>
            </div>
        </div>
        <div>
            <label for="jobTitle">Job Title</label>
            <input type="text" name="jobTitle"
                ng-model="register.user.jobTitle"
                required>
            <div ng-messages="userForm.jobTitle.$error" ng-if="userForm.jobTitle.$touched">
                <p ng-message="required">Your job title is required.</p>
            </div>
        </div>
        <div>
            <label for="company">Company</label>
            <input type="text" id="company" name="company"
                ng-model="register.user.company"
                required>
            <div ng-messages="userForm.company.$error" ng-if="userForm.company.$touched">
                <p ng-message="required">Your company is required.</p>
            </div>
        </div>
        <div ng-if="inputForm.$dirty &amp;&amp; inputForm.$invalid" ng-messages="inputForm.$error" class="error-messages">
            <div ng-message="required">One/more mandatory fields are missing values</div>
            <div ng-message="pattern">Data is in incorrect format</div>
            <div ng-message="greaterThan">Invalid range</div>
            <div ng-message="nonExistingName">Name already exists</div>
        </div>
        <div>
            <button type="submit"
                ng-disabled="userForm.$invalid"
                ng-click="register.submit(register.user)">yes! let's go!
            </button>
        </div>
    </form>
    <pre>{{register.selectedUser}}</pre>
    <div>
        <angucomplete-alt
              placeholder="Search user"
              pause="100"
              selected-object="register.selectedUser"
              local-data="register.users"
              search-fields="workEmail"
              title-field="workEmail"
              minlength="1" />
    </div>
    <button
        ng-disabled="!register.selectedUser"
        ng-click="register.select(register.selectedUser.originalObject)">let's go!
    </button>
    <a ui-sref="start">Cancel</a>
</div>
