<div class="bubbles--left"></div>
<div class="bubbles--right-smiley"></div>
<div>
    <a ui-sref="start" class="logo logo--small"></a>
</div>
<div>
    <h1>{{ register.heading }}</h1>
    <form name="userForm" class="uk-form uk-form-stacked" ng-hide="register.existing">
        <fieldset>
            <div class="uk-form-row">
                <label class="uk-form-label" for="firstName">first name</label>
                <div class="uk-form-controls">
                    <input type="text" id="firstName" name="firstName"
                    ng-model="register.user.firstName"
                    ng-minlength="2"
                    required>
                </div>
                <div ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
                    <p ng-message="minlength">First name is too short</p>
                    <p ng-message="required">First name is required</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="lastName">last name</label>
                <div class="uk-form-controls">
                    <input type="text" id="lastName" name="lastName"
                        ng-model="register.user.lastName"
                        ng-minlength="2"
                        required>
                </div>
                <div ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched">
                    <p ng-message="minlength">Your last name is too short.</p>
                    <p ng-message="required">Your last name is required.</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="workEmail">work email</label>
                <div class="uk-form-controls">
                    <input type="email" id="workEmail" name="workEmail"
                        ng-model="register.user.workEmail"
                        required
                        available>
                </div>
                <div ng-messages="userForm.workEmail.$error" ng-if="userForm.workEmail.$touched || userForm.$submitted">
                    <p ng-message="email">This needs to be a valid email.</p>
                    <p ng-message="required">Your work email is required.</p>
                    <p ng-message="available">This email is already registered.</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="jobTitle">job title</label>
                <div class="uk-form-controls">
                    <input type="text" name="jobTitle"
                        ng-model="register.user.jobTitle"
                        required>
                </div>
                <div ng-messages="userForm.jobTitle.$error" ng-if="userForm.jobTitle.$touched">
                    <p ng-message="required">Your job title is required.</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="company">company</label>
                <div class="uk-form-controls">
                    <input type="text" id="company" name="company"
                        ng-model="register.user.company"
                        required>
                </div>
                <div ng-messages="userForm.company.$error" ng-if="userForm.company.$touched">
                    <p ng-message="required">Your company is required.</p>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <button type="submit"
                        ng-click="register.submit(register.user)"
                        class="uk-button uk-width-1-1">yes, let's go!
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    <form name="userForm" class="uk-form uk-form-stacked" ng-show="register.existing">
        <fieldset>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <angucomplete-alt
                        placeholder="Select an existing user (work email)"
                        pause="100"
                        selected-object="register.selectedUser"
                        local-data="register.incompleteUsers"
                        search-fields="workEmail"
                        title-field="workEmail"
                        minlength="1"
                        field-required="true">
                    </angucomplete-alt>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <button
                        class="uk-button uk-width-1-1"
                        ng-disabled="!register.selectedUser"
                        ng-click="register.select(register.selectedUser.originalObject)">yes, let's go!
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="uk-margin-top">
        <a ui-sref="existing" class="link uk-text-large" ng-click="register.toggleExisting()">
            <span ng-if="register.existing">Create new player</span>
            <span ng-if="!register.existing">Select existing</span>
        </a>
    </div>
</div>
