$usabilla-blue: #00a5c9;
$blue-dark: #008aab;

$grey: #c8d2da;
$grey-01: #6b6b6b;
$grey-02: #59636b;
$grey-03: #41474c;
$grey-04: #23272a;

$white: #fff;

$red: #f4606e;
$red-01: #ea4343;

$green: #6cd6a4;
