$form-gutter: 20px;
$form-stacked-margin-bottom: 5px;
$form-stacked-font-weight: 500;
$form-color: $grey-03;
$form-line-height: 32px;
$form-font-size: 23px;
$form-padding: 4px 20px;
$form-medium-width: 500px;
$form-height: 72px;

@mixin hook-form-stacked-label() {
  font-size: 23px;
  line-height: 32px;
  color: $grey-03;
}

@mixin hook-form-misc() {
  .uk-form-row {
    width: $form-medium-width;
    max-width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin hook-form() {
  width: 100%;
  line-height: $form-line-height;
  font-size: $form-font-size;
}
