$base-body-font-family: MiloOT, Helvetica, Arial, sans-serif;
$base-heading-font-family: MiloOT, Helvetica, Arial, sans-serif;

$base-body-color: $grey-02;
$base-heading-color: $grey-02;

$logo-height: 300px;
$logo-small-height: 200px;

$base-h1-font-size: 70px;
$base-h1-line-height: 80px;

$base-h2-font-size: 56px;
$base-h2-line-height: 70px;

$base-h3-font-size: 48px;
$base-h3-line-height: 58px;

$text-huge-font-size: 250px;
$text-huge-line-height: 270px;

$text-danger-color: $red-01;
$text-danger-font-size: 18px;

$text-success-color: $green-01;
$text-success-font-size: 18px;

$utility-margin: 40px;

$base-link-color: $grey-01;
$base-link-text-decoration: underline;

$utility-margin-large: 80px;

$table-hover-background: $usabilla-blue;
$text-large-font-size: 23px;

$font-feature-settings: 'tnum';
