@import 'uikit/uikit-mixins';

@import 'colors';
@import 'variables';
@import 'buttons';
@import 'form';
@import 'table';
@import 'smiley';

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.text--error {
  font-size: $text-danger-font-size;
}

.text--huge {
  font-size: $text-huge-font-size;
  line-height: $text-huge-line-height;
  height: $text-huge-line-height;
  font-weight: 300;
}

.text--tabular {
  -webkit-font-feature-settings: $font-feature-settings;
  -moz-font-feature-settings: $font-feature-settings;
  -ms-font-feature-settings: $font-feature-settings;
}

.logo {
  background-image: url('../images/logo.svg');
  background-size: 50% $logo-height;
  width: 50%;
  height: $logo-height;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo--small {
  background-size: 50% $logo-small-height;
  height: $logo-small-height;
}

.text--blue-light {
  color: $usabilla-blue;
  font-weight: 300;
}

.timer--beat {
  font-size: 150px;
  height: 150px;
  line-height: 150px;
}

.position {
  font-size: 200px;
  height: 200px;
  line-height: 200px;
}

.position__ordinal {
  font-size: 100px;
}

.angucomplete-dropdown {
  border: 1px solid #ddd;

  > div {
    line-height: $form-height;
    height: $form-height;
    font-size: $form-font-size;
    padding: $form-padding;
  }

  > .angucomplete-selected-row {
    background-color: $usabilla-blue;
    color: $white;
  }
}

.link {
  &:hover, &:active {
    color: $usabilla-blue;
  }
}

.mute {
  position: fixed;
  right: 100px;
  top: 50px;
}

.action {
  cursor: pointer;
}

@import 'uikit/uikit';
