@import 'uikit/uikit-mixins';

@import 'typography';

$usabilla-blue: #00A5C9;
$blue-dark: #008AAB;

$grey: #59636B;
$grey-light: #6B6B6B;
$grey-03: #41474C;

$white: #fff;

$base-body-color: $grey;
$base-heading-color: $grey;

$logo-large-height: 300px;
$logo-height: 200px;

$base-h1-font-size: 70px;
$base-h1-line-height: 80px;

$base-h2-font-size: 56px;
$base-h2-line-height: 70px;

.logo {
    background-image: url('logo.svg');
    background-size: 50% $logo-large-height;
    width: 50%;
    height: $logo-large-height;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo--small {
    background-size: 50% $logo-height;
    height: $logo-height;
}

$base-body-font-family: MiloOT, Helvetica, Arial, sans-serif;
$base-heading-font-family: MiloOT, Helvetica, Arial, sans-serif;

$button-background: $usabilla-blue;
$button-color: $white;

$button-hover-background: $blue-dark;
$button-hover-color: $white;

$button-active-background: $blue-dark;
$button-active-color: $white;

$button-height: 50px;

$button-large-height: 133px;
// $button-large-padding-horizontal: 130px;
$button-large-line-height: 133px;
$button-large-font-size: 40px;

$button-height: 60px;
$button-line-height: 60px;
$button-font-size: 28px;

@mixin hook-button () {
    font-weight: 600;
    border-style: none;
    border-bottom: 2px solid $blue-dark;
    border-radius: 2px;
    text-shadow: 0 2px $blue-dark;
    width: 500px;
    max-width: 100%;
}

$utility-margin: 40px;

$base-link-color: $grey-light;
$base-link-text-decoration: underline;

@mixin bubbles ($image, $width, $height) {
    background: url($image) no-repeat center center;
    background-size: $width $height;
    width: $width;
    height: $height;
}

.bubbles {
    &--left {
        @include bubbles('bubbles-left.svg', 170px, 800px);
        position: fixed;
        left: 0;
        top: 0;
    }
    &--right {
        @include bubbles('bubbles-right.svg', 150px, 800px);
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

$form-gutter: 20px;
$form-stacked-margin-bottom: 5px;
$form-stacked-font-weight: 500;
$form-color: $grey-03;
$form-line-height: 32px;
$form-font-size: 23px;
$form-padding: 4px 20px;

@mixin hook-form-stacked-label () {
    font-size: 23px;
    line-height: 32px;
    color: $grey-03;
}

$form-medium-width: 500px;

@mixin hook-form-misc () {
    .uk-form-row {
        width: $form-medium-width;
        max-width: 100%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin hook-form () {
    width: 100%;
    line-height: $form-line-height;
    font-size: $form-font-size;
}

$form-height: 72px;

.count-bubbles {
    @include bubbles('count-bubbles.png', 300px, 349px);
    display: inline-block;

    > div {
        font-size: 148px;
        color: $white;
        margin-right: 40px;
        margin-bottom: 55px;
    }
}

@mixin hook-table () {
    border-bottom: 1px solid #e5e5e5;
}

$utility-margin-large: 80px;

.timer--huge {
    font-size: 114px;
    height: 100px;
    line-height: 100px;
}

.timer--beat {
    font-size: 84px;
    height: 100px;
    line-height: 100px;
    color: $usabilla-blue;
}

.position {
    font-size: 94px;
    height: 100px;
    line-height: 100px;
    color: $usabilla-blue;
}

.angucomplete-dropdown {
    border: 1px solid #ddd;

    > div {
        line-height: 40px;
        height: 40px;
        padding: 4px 6px;
    }

    > .angucomplete-selected-row {
        background-color: $usabilla-blue;
        color: $white;
    }
}

.leaderboard {
    margin-left: 160px;
    margin-right: 160px;
}

$table-hover-background: $usabilla-blue;

@mixin hook-table-hover () {
    color: $white;
}

.link {
    &:hover, &:active {
        color: $usabilla-blue;
    }
}

$text-large-font-size: 24px;

@import 'uikit/uikit';
